.navigation{
    margin: 0px auto;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1.4px;
}
.navigation .item{
    position:absolute;
}
.servicios{
  top: 140px;
  left: 12.5%;
  animation-duration: 3s;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1.1s;
}
.extintores{
  top:140px;
  right: 17.5%;
  animation-duration: 3s;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1.1s;
}

.oxigeno-medicinal{
  top: 40px;
  left: 20%;
  animation-duration: 3s;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0.8s;
}
.novedades-y-ofertas{
  top: 40px;
  right: 25%;
  animation-duration: 3s;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0.8s;
}

.oxigeno-industrial{
  top: 140px;
  left: 30%;
  animation-duration: 3s;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0.5s;
}
.equipos-ortopedicos{
  top: 140px;
  right: 35%;
  animation-duration: 3s;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0.5s;
}
.accesorios{
  top: 140px;
  left: 47.5%;
  animation-duration: 3s;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0.2s;
}

a.icon{
    width:52px;
    height:52px;
    position:absolute;
    top:0px;
    left:0px;
    cursor:pointer;
}
.oxigeno-medicinal a.icon{
    background:transparent url(../images/oxigeno-medicinal.png) no-repeat 0px 0px;border-radius: 50px;box-shadow: -2px 4px 6px #000;
}
.oxigeno-industrial a.icon{
    background:transparent url(../images/oxigeno-industrial.png) no-repeat 0px 0px;border-radius: 50px;box-shadow: -2px 4px 6px #000;
}

.extintores a.icon{
    background:transparent url(../images/extintores.png) no-repeat 0px 0px;border-radius: 50px;box-shadow: -2px 4px 6px #000;
}
.equipos-ortopedicos a.icon{
    background:transparent url(../images/equipos-ortopedicos.png) no-repeat 0px 0px;border-radius: 50px;box-shadow: -2px 4px 6px #000;
}
.accesorios a.icon{
      background:transparent url(../images/accesorios.png) no-repeat 0px 0px;border-radius: 50px;box-shadow: -2px 4px 6px #000;
}
.servicios a.icon{
      background:transparent url(../images/servicios.png) no-repeat 0px 0px;border-radius: 50px;box-shadow: -2px 4px 6px #000;
}
.novedades-y-ofertas a.icon{
      background:transparent url(../images/novedades-y-ofertas.png) no-repeat 0px 0px;border-radius: 50px;box-shadow: -2px 4px 6px #000;
}
.navigation .item a.active{
    background-position:0px -52px;
}
.item img.circle{
    position:absolute;
    top:0px;
    left:0px;
    width:52px;
    height:52px;
    opacity:0.1;
}
.item h2{
  position: absolute;
  width: 106px;
  color: #222;
  font-size: 12px;
  top: 60px;
  right: -28px;
  text-align: center;
  line-height: 17px;
  text-shadow: 1px 1px 1px #fff;
  text-transform: uppercase;
}
.item h2.active{
    color:#fff;
    text-shadow:1px 0px 1px #555;
}
.item ul{
    list-style:none;
    position:absolute;
    top:60px;
    left:25px;
    display:none;
}
.item ul li a{
    font-size:15px;
    text-decoration:none;
    letter-spacing:1.5px;
    text-transform:uppercase;
    color:#222;
    padding:3px;
    float:left;
    clear:both;
    width:100px;
    text-shadow:1px 1px 1px #fff;
}
.item ul li a:hover{
    background-color:#fff;
    color:#444;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:1px 1px 4px #666;
    -webkit-box-shadow:1px 1px 4px #666;
    box-shadow:1px 1px 4px #666;
}



/*blubles fondo*/

#background-wrap {
    bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

@keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;

	left: -5%;
	top: 5%;

	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 15s linear infinite, sideWays 4s ease-in-out infinite alternate;

	left: 5%;
	top: 80%;

	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x3 {
    -webkit-animation: animateBubble 23s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 23s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 23s linear infinite, sideWays 2s ease-in-out infinite alternate;

	left: 10%;
	top: 40%;

	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.x4 {
    -webkit-animation: animateBubble 13s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 13s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 13s linear infinite, sideWays 3s ease-in-out infinite alternate;

	left: 20%;
	top: 0;

	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x5 {
    -webkit-animation: animateBubble 24s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 24s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 24s linear infinite, sideWays 4s ease-in-out infinite alternate;

	left: 30%;
	top: 50%;

	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x6 {
    -webkit-animation: animateBubble 16s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 16s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 16s linear infinite, sideWays 2s ease-in-out infinite alternate;

	left: 50%;
	top: 0;

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.x7 {
    -webkit-animation: animateBubble 17s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 17s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 17s linear infinite, sideWays 2s ease-in-out infinite alternate;

	left: 65%;
	top: 70%;

	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;

	left: 80%;
	top: 10%;

	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 3s ease-in-out infinite alternate;

	left: 90%;
	top: 50%;

	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x10 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;

	left: 80%;
	top: 80%;

	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

/* OBJECTS */

.bubble {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);

    height: 200px;
	position: absolute;
	width: 200px;
}

.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);

	content: "";
    height: 180px;
	left: 10px;
	position: absolute;
	width: 180px;
}
