/*---slide show skin---*/
.edslider{
	position:relative;
	margin:auto;
}
.edslider ul{
	list-style:none;
	position:relative;
	padding:0;
	margin:0;
}
.edslider .slider{
	background:#fff;
	display:block;
	overflow: hidden;
	transition: height .3s;
}
.edslider .slider li{
	position:absolute;
	width: 100%;
	top:0;
	left:0;
	z-index:0;
}
.edslider .slider li.current{
	position: relative;
	z-index:1;
}
.edslider a{
	display:block;
}
.edslider a img{
	border:0;
}
/*---controls---*/
.edslider .navigator{
	background: rgba(0,0,0,.3);
	background-image:url(../images/sprite-navigator.png);
	cursor:pointer;
	display: block;
	width:50px;
	height:50px;
	position: absolute;
	overflow: hidden;
	top: 20%;
	opacity: 0;
	transition: background .35s, opacity .35s;
	z-index: 2;
}
.edslider .next{
	background-position:0 0;
}
.edslider .prev{
	background-position:0 -50px;
}
.edslider .next:hover,
.edslider .prev:hover{
	background-color: rgba(0,0,0,.6);
}
.edslider .paginator{
	opacity: 0;
	position: absolute;
	text-align: center;
	bottom: 20px;
	left: 50%;
	transition: opacity .2s;
	z-index: 2;
}
.edslider .paginator li{
	background:rgba(0,0,0,.7);
	border-radius: 8px;
	box-sizing: border-box;
	display:inline-block;
	height:16px;
	width:16px;
	margin:0 3px;
	cursor:pointer;
	transition: background .2s;
}
.edslider .paginator li.current,
.edslider .paginator li:hover,
.edslider .progress{
	background:rgb(45, 124, 209);
}
.edslider .progress{
	opacity: 0;
	position: absolute;
	top: 0;
	height:3px;
	transition: opacity .2s;
	z-index:2;
}
.edslider:hover .navigator,
.edslider:hover .paginator,
.edslider .progress{
	opacity: 1;
}
