#mainNav{
  display: none;
}
/*Menu responsive*/
.navbar-default .navbar-toggle {
  border-color: #000000;
  border-width: 1.59px;
  background: linear-gradient(#2b87e0,#2f73c3);
  color: white;
  font-weight: 700;
}
.navbar-toggle {
    position: relative;
    float: initial;
    padding: 12px 11px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-fixed-bottom .navbar-collapse,.navbar-collapse {
    max-height: 200px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: rgba(0, 135, 220, 0.37);
}
.fot-1 , .fot-2,.fot-3{padding-bottom: 5px;}
@media (max-width:1360px) {
  .fot-1, .fot-2,.fot-3{    height: 185px;}
}
@media (max-width:1295px) {
  .fot-1, .fot-2,.fot-3{    height: 215px;}
  .wrap { width: 90%;}
}
/* xs */
@media (min-width: 991px) and (max-width: 1199px) {
  .wrap { width: 95%;}
  .lb-album li {
      float: left;
      margin: 10px;
      width: 31%;
      position: relative;
  }
  .lb-album li > a, .lb-album li > a img {
    display: block;
    width: 100%;
  }
  .lb-overlay img {
    width: 100%;
    height: 100%;
  }
}
.lb-album #ban-alqui {
  float: left;
  width: 48%;
  margin: 1%;
  position: relative;
}
.lb-album #ban-alqui > a span {
    position: absolute;
    width: 97%;
    height: 97%;
    top: 10px;
    left: 11px;
}
@media (min-width: 746px) and (max-width: 991px) {
  .wrap { width: 96%;}
  .lb-album li {
      width: 47%;
  }
  .lb-album li > a, .lb-album li > a img {
    display: block;
    width: 100%;
  }
  .lb-album li > a span {
    width: 95%;
    height: 95%;
  }
  .lb-overlay img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 745px) {
  .wrap { width: 98%;}
  #content{display: none;}
  #mainNav {
    display: block;
    top: -14px;
  }
  header { height: 178px;}

  .silla p{ margin-top: 99px;}
  .fot-1{height: auto;}
  .fot-2{height: auto;}
  .fot-3{height: auto;}
  .img-responsive{display: block;}
  .img-normal{display: none}
  .lb-album li {
    padding: 19px;
    width: 100%;
    margin: 0px;
    }
  .lb-album li > a, .lb-album li > a img {
      width: 100%;
  }
  .lb-album li > a span {
    width: 96%;
    height: 96%;
  }
  .lb-overlay img {
    width: 100%;
    height: auto;
  }
  .lb-overlay:target {
    padding: 38px 10px 0px 10px;
  }
  .lb-overlay a.lb-close {
    top: 4px;
 }
 .fwrap {  height: auto;}
 .lb-album #ban-alqui {width: auto;}
}
/*menos de 500px*/
@media (max-width: 400px) {
  .silla img, .vibora img{
    position: absolute;
    left: 50%;
    top: 20%;
    width: 95%;
    margin-left: -150px;
    -webkit-animation-delay: 0.7s;
    animation-duration: 11s;
    animation-delay: 0.7s;
  }
  .silla p {
    color: #d67611;
    text-shadow: rgb(45, 45, 45) 0px 2px 1px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    margin-top: 93px;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
  }
  .anterior-prev{
    font-size: 16px;
  }
  .siguiente-next{
    font-size: 16px;
  }
}
@media (max-width: @screen-xs) {


}
/*
@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}*/
