@charset "utf-8";
/*
Theme Name: Tema
Theme URI: nandes.ingsistemas@gmail.com
Author: Fernando Javier Averanga Aruquipa
Author URI: nandes.ingsistemas@gmail.com
Description: Tema creado para Oximed Bolivia
Version: 1.0
Tags: tema, nandes, averanga aruquipa, Fernando Averanga Aruquipa
*/
/*custom resets*/
.clear:after { content:"."; display: block; height: 0; clear: both; visibility: hidden;}
*{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/**/
body{font-family: Arial, Helvetica, sans-serif; font-size: 1.7em; margin: 0 auto;
  background: linear-gradient(to bottom, #00b3ea, #0086d8);
  background-repeat: no-repeat;
  background-attachment: fixed; }
html, body{
    height: 100%;
    position: relative;
}
h2,h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.left{float: left;}
.right{float: right;}
.tleft{text-align: left;}
.tright{text-align: right;}
.center{text-align: center;}
.bold{font-weight: bold;}
.nopadbot{padding-bottom: 0 !important;}
.nomarbot{margin-bottom: 0 !important;}
.wpad{padding: 10px;}
img.fullw{width: 100%;}
.underline{text-decoration: underline;}
.clear, .freewrapper:after, .wrap:after{clear: both;}
.autoclear:after{content: ""; display: block; height: 0; clear: both; visibility: hidden;}
.wrap {
  width: 85%;
  display: block;
  margin: 0 auto;
  position:relative;
}
.freewrapper:after, .row:after, .wrap:after{display: table; content: " ";}/*can be anidated*/
.col100, .col50, .col33, .col25, .col20, .colh1, .colh2, .colbtn, .colf1, .colf2, .colf3, .colfor, .colmap{
    position: relative; min-height: 1px;
}

/*logo-*/
.silla p{
  color: #d67611;
  margin-top: 95px;
  text-shadow: rgb(45, 45, 45) 0px 2px 1px;
  font-size: 17.7px;
  font-weight: 700;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
}

.serpiente img{
  position: absolute;
      width: 102px;
      left: 688px;
      top: 31px;
}
.silla img{
  position: absolute;
  left: 48%;
  top: 15%;
  margin-left: -150px;   // width/2
  margin-top: -150px;    // height/2
  -webkit-animation-duration: 11s;
  -webkit-animation-delay: 0.7s;
  animation-duration: 11s;
  animation-delay: 0.7s;
}
.vibora img {
    position: absolute;
    left: 48%;
    top: 15%;
    margin-left: -150px;
    -webkit-animation-delay: 0.7s;
    animation-duration: 2s;
    animation-delay: 0.9s;
}
.texto-slider-izq{
  position: absolute;
  top: 54px;
  border-radius: 10px;
  left: 62px;
  background: rgba(0, 84, 146, 0.57);
  padding: 19px;
  color: white;
  font-weight: 800;
}
.texto-slider-der{
  position: absolute;
  top: 54px;
  border-radius: 10px;
  right: 62px;
  background: rgba(0, 84, 146, 0.57);
  padding: 19px;
  color: white;
  font-weight: 800;
}
/**/

/*columnas
.col100{width: 100%;}
.col50{width: 50%;}
.col33{width: 33.33%;}
.col25{width: 25%;}
.col20{width: 20%;}
.colh1{width: 75%;}
.colh2{width: 25%;}
.colbtn{width: 16%;}
.colf1{width: 40%;}
.colf2{width: 35%;}
.colf3{width: 25%;}
.colfor{width: 25%;}
*/
.colmap{width: 74.5%;left: 7px;}
.text p{padding: 7px 0;}
@font-face { font-family: 'roboto';
  src:  url('fonts/roboto.woff2') format('woff2'),
        url('fonts/roboto.woff') format('woff');}
@font-face { font-family: 'bebas';
  src:  url('fonts/bebas.woff2') format('woff2'),
        url('fonts/bebas.woff') format('woff');}
@font-face { font-family: 'bau';
  src:  url('fonts/bau.woff2') format('woff2'),
        url('fonts/bau.woff') format('woff');}
@font-face { font-family: 'berlin';
  src:  url('fonts/berlin.woff2') format('woff2'),
        url('fonts/berlin.woff') format('woff');}
/*L*/
 #fakebg{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background: #79bef9;
}
#fakebg.loadedb{
    -webkit-animation: fadeout ease-out .7s;
    animation: fadeout ease-out .7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeout{
    0%{opacity: 1;}
    100%{opacity: 0;}
}
@keyframes fadeout{
    0%{opacity: 1;}
    100%{opacity: 0;}
}
/*l*/
/*loader 2*/
.load-container {
  width: 240px;
  height: 240px;
  margin-left: -120px;
  margin-top: -120px;
  top: 50%;
  left: 50%;
  position: absolute;
  overflow: hidden;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.load3 .loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #D4E65C;
  background: -moz-linear-gradient(left, #C9DC47 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #C9DC47 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #C9DC47 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #C9DC47 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #C9DC47 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.load3 .loader:before {
  width: 50%;
  height: 50%;
  background: #C9DC47;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.load3 .loader:after {
  background: #79bef9;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}
@keyframes load3 {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
/*end of loader 2*/
/*custom styles*/
a{text-decoration: none; color: inherit;}
header{
    background: url(../img/bgheader.jpg);
    background-size: cover;
    box-shadow: 0 1px 22px #000;
    height: 260px;
    width: 100% auto;
    position: relative;}
/*logo styles*/
.aslwraporig{transform: scale(0); transform-origin: 223px 75px;}
.logowraporig{position: absolute; top: -7px; left: 0; z-index: 1; transform: scale(0);}
.cuerpo, .asl, .ojowraporig, .line, .rubro, .ojo{position: absolute; display: block;}
.cuerpo{top: 10px; left: 10px;}
.ojowraporig{top: 23px; left: 197px;}
.asl{top: 10px; left: 230px;}
.line{top: 95.3px; left: 439px; height: 2.5px;background: linear-gradient(to right,#feffff, #feffff,#000000, #000000, #000000,#000000,#000000, #feffff, #feffff);
  width: 262px; border-radius: 2px; box-shadow: 0 2px 1px #000;
}
.rubro{top: 100px; left: 242px; font: 1.05em "Bau", sans-serif;
text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff; width: 160px;
}
.inicio .col50:nth-child(2){padding-right: 10px;}
/*order in z-axis from 4 to 6*/
.ojowraporig{z-index: 6; height: 30px; width: 30px;}
.ojo{top: 40px;}
.cuerpo{z-index: 5;}
.aslwraporig{z-index: 4;}
/* asl animations */
.aslwrap{
  animation: .4s linear aslanim 1.2s; /*the retard must be the same of the animation duration*/
  animation-fill-mode:both;
}
.logowrap{
  animation: 1.2s linear logoanim;
  animation-fill-mode:both;
}
.ojowrap{
  animation: ojoanim 7s infinite;
  transform-origin: left bottom;
}
@keyframes logoanim{
  0%{ transform: translateX(-700px) translateY(-150px) scale(.3);}
  95%{ transform: translateX(5px) translateY(0) scale(1);}
  100%{ transform: translateX(0) translateY(0) scale(1);}
}
@keyframes aslanim{
  0%{transform: scale(0) translateX(0px);}
  50%{transform: scale(.7) translateX(0px);}
  100%{transform: scale(1) translateX(0);}
}
@keyframes ojoanim{
  0%{ transform: rotate(0deg);}
  45%{ transform: rotate(35deg);}
  60%{ transform: rotate(0deg);}
  100%{ transform: rotate(0deg);}
}
.rubroanim{
  animation: animrubro 7s ease-out infinite;
}
@keyframes animrubro{
  from{ text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #ffd, 0 0 3px #ffd, 0 0 4px #ffd, 0 0 4px #ffd, 0 0 5px #ffd, 0 0 5px #ffd, 0 0 7px #ffd, 0 0 7px #ffd, 0 0 9px #ffd, 0 0 9px #ffd, 0 0 10px #ffd, 0 0 11px #ffd, 0 0 12px #ffd;}
}
/*end of logo styles*/
.topnav a{
    background: linear-gradient(to top, rgb(4, 61, 140), rgba(25, 99, 191, 0.74));
    width: 92%;
    display: table-cell;
    height: 25px;
    text-align: center;
    margin-top: 5px;
    font: bold .9em "Roboto", sans-serif;
    line-height: 1.6;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    box-shadow: 0 0 7px #008aff;
    color: #ffffff;
}
.topnav .col33:nth-child(1) a{border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
.topnav .col33:nth-child(3) a{border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
.topnav a:hover{color: #020202;  background: linear-gradient(to bottom, #f98d3f, #e6cfa5);
    box-shadow: 0 0 7px #8a4e1a, 0 0 3px #ffffff;}
.topnav .text{-ms-transform: skewX(20deg); /* IE 9 */ -webkit-transform: skewX(-20deg); /* Safari */ transform: skewX(-20deg); display: block;
}
.botsocial{margin-top: 3px;}
.botsocial img{border-radius: 5px; border: 1px solid transparent; width: 35px; display: inline-block;}
.botsocial a{padding-right: 10px;}
.botsocial a:last-child{padding-right: 0;}
.botsocial a:hover img{border-bottom: 1px solid #fff; border-top: 1px solid #fff;}
/*header animation styles*/
  /*starter styles*/
.topnav .col33{opacity: 0; top: -50px;}
nav .colbtn{opacity: 0; left: -100px;}
.rubro{opacity: 0;}
/*end of header animation styles*/
.colbtn{width: 17%; padding-left: 5px;}
.btnspacer1{width: 32%;}
.btnspacer2{width: 15%;}
nav{margin-top: 15px; position: relative; z-index: 3;}
nav a {width: 100%; display: block;height: 66px; background-size: 100% 160px; background-position: 0% 100%; text-align: center; color: #fff; font: 1.1em/1 "berlin", sans-serif; padding: 1em 20px 1.35em; display: table; position: relative; z-index: 2; margin-bottom: -10px;}
/*conditional chrome style
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    nav a {letter-spacing: .03em;}
  }*/
/*conditional hack for chrome, safari, opera >= 14, android */
nav a:not(*:root) {letter-spacing: .035em;}
nav a .btncen{display: table-cell; vertical-align: middle;}
nav a:hover{background-position: 0% 0%;}
.rod{height: 13px; background: linear-gradient(to bottom, #efdbcd 0%, #0194c1 27%, #cccccc 100%); position: absolute; bottom: -13px; width: 100%; z-index: 0;}
/*slogan*/
.wrapp{

    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow:hidden;
    min-height: 200px;
}
.wrapp:after{content:""; clear:both;}
.mainscreen{height: calc(100% - 182px);/*changed from 100% for 1920px screen*/ position: relative; min-height: 200px;}
.wslogan{}
.slogan{
    position: absolute;
    bottom:0;
    width: 100%;
    font: 2.2em "roboto", sans-serif;
    color: #eee;
    text-align: center;
    padding: .1em 3em .2em;
    text-shadow: 2px 2px 2px #000;
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index:3;
}
.slinner{
    display: inline-block;
    background: rgba(0, 0, 0, .7);
    padding: 0 30px;
  border-radius: 5px;
}
.leftentry{
  animation: leftentry 1s;
  animation-fill-mode:both;
}
@keyframes leftentry{
  0%{ transform: translateX(-100%);}
  85%{ transform: translateX(.2%);}
  100%{ transform: translateX(0%);}
}
.rightout{
  animation: rightout ease-in 1s;
  animation-fill-mode:both;
}
@keyframes rightout{
  0%{ transform: translateX(0%);}
  100%{ transform: translateX(100%);}
}
article{ background: rgba(221, 245, 251, 0.45); font: 1em "Roboto", sans-serif; line-height: 1.2; padding-bottom: .3em; margin-top: 15px; border-radius: 3px; box-shadow: 0 0 3px #222; border-radius: 12px;}
.wpad.col50:nth-child(2){ padding-right: 5px;}
.wpad.col50:nth-child(3){ padding-left: 5px;}
article img{box-shadow: 2px 1px 3px #333;border-radius: 10px;}
article h2{
    font: 1.8em "bebas", sans-serif;
    color: #ffffff;
    background: linear-gradient(#003770,#347cc7);
    border-bottom: 2px solid #104f90;
    text-align: center;
    padding: 5px 0 0;
    text-shadow: 0 2px 2px #000;
    border-radius: 10px 10px 0px 0px;
  }
article h3{
    background: linear-gradient(to right, #d47918, #bd6100, #d47918);
    color: #fff;
    font-size: 26px;
    text-align: center;
    padding: 3px 0;
    border-top: 2px solid #eadec7;
    text-shadow: 0 2px 2px #000;
}
article p{ font-size: 20px; padding-left: 1.5%; padding-right: 1.5%;text-align: justify;}
.innerpage{background: url('img/bg-inner.jpg'); background-attachment: fixed; background-size: cover;}
.innerpage article{margin-top: 15px; }
.innerpage article h3{font: 1.5em "berlin", sans-serif; text-align: center; color: #222;}
.innerpage p.desc{text-align: center; font: 1.1em "roboto", sans-serif; display: none;}
/*ul*/
.wb {margin: 5px 0 5px;}
.wb li{
  padding-left: 15px; position: relative;
  margin-bottom: .35em;
}
.wb li:before{content: url('img/bullet.png'); position: absolute; left: 0; top: -2px;}
.fot-1, .fot-2,.fot-3{padding-right: 0px;padding-left: 0px;}
.fot-1{height: 180px;} .fot-2{height: 180px;} .fot-3{height: 180px;}

footer {
  margin-top: -20px;
      background: url(../img/bg-footer.png);
      background-size: cover;
      color: #fff;
      padding-top: 50px;
      font: .95em "roboto", sans-serif;
      text-shadow: 0 0 1px #000,1px 1px 1px #000,0 0 1px #000;
      line-height: 1.3;
}
.wrap .row {
    margin-right: 0px;
    margin-left: 0px;
}
footer a{display: inline-block; transition: .3s;}
footer a:hover{color:#ffad58; transform: translateX(5px);}
footer h3{font: 1.5em "Bebas", sans-serif; margin: 8px 0 4px;}
.public{ opacity: .6; font-size: .85em; transition: .3s;}
.public:hover {opacity: 1;}
.public a:hover {text-decoration: underline;}
.fwrap{    background: rgba(51, 99, 134, 0.67);
    margin: 0 10px;
    padding: 5px 10px;
    height: 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #000;
    border: 1px solid rgba(0, 0, 0, .2);}
.colf1 .fwrap{margin-left: 0;}
.colf3 .fwrap{margin-right: 0; line-height: 1;}
.colf2{line-height: 1.3;}
.colf1, .colf2, .colf3{ height: 150px; text-align: center;}
.colf1 li{width: 50%; float: left; text-align: left; padding-left: 20px;}
/*form styles*/
form {
  display: block;
  margin: 0 auto;
  padding: 0 20px;
}
form .form_row {
  margin-bottom: 18px;
  position: relative;
}
form .input input, form .input textarea {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 5px 20px 1px 100px;
  background: #fff;
  border: 1px solid #ccc;
  color: #555;
  font-size: .85em;
  overflow: hidden;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
form .input textarea { height: 6.7em; font-family: Arial, Tahoma, sans-serif; }
form .input label {
  position: absolute;
  top: 4px;
  left: 10px;
  color: #134E49;
  cursor: text;
  font-size: 0.85em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
form .input.active input, form .input.active textarea {
  padding-left: 100px;
  border-color: #599653;
}
form .input.active input:required:invalid, form .input.active textarea:required:invalid {
  border: 1px solid #c0392b;
  color: #c0392b;
}
form .input.active input:required:invalid + label, form .input.active textarea:required:invalid + label {
  background: #c0392b;
}
form .input.active input:required:invalid:focus + label, form .input.active textarea:required:invalid:focus + label {
  background: #c0392b;
}
form .input.active label {
  width: 160px;
  top: 0;
  left: 0;
  color: #fff;
  background: #4A1764;
  padding: 13px 10px;
  padding-bottom: 12px;
  text-align: center;
}
form .input label span {
  color: #3e005d;
}
form .input.active label span {
  color: #fff;
}
.submitbtn, .deletebtn {
  display: inline-block;
  cursor: pointer;
  padding: 6px 24px;
  font-size: 17px;
  font-weight: bold;
  color: #333;
  text-align: center;
  border: 1px solid #4390ff;
  background: #1682b9;
  background-image: -webkit-linear-gradient(top, #f9f9f9, #8edeff);
  background-image: -moz-linear-gradient(top, #f9f9f9, #8edeff);
  background-image: -o-linear-gradient(top, #f9f9f9, #8edeff);
  background-image: linear-gradient(to bottom, #f9f9f9, #8edeff);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.55), inset 0 0 7px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.55), inset 0 0 7px rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}
.submitbtn{margin-right: 1%;}
.submitbtn:active {
  background: #89cbe3;
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.55);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.55);
}
.submitbtn:hover, .deletebtn:hover{
  background-image: linear-gradient(to bottom, #81b2fd, #003875);
  color: #fff;
}
form.second { padding: 15px 20px 0px; }
form.second .form_row { margin-bottom: 25px; }
form.second .input input, form.second .input textarea {
  padding-left: 75px;
}
form.second .input.active label {
  top: -22px;
  color: #fff;
  background: #005c01;
  padding: 4px 8px 3px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
form.second .input.active input, form.second .input.active textarea {
  padding-left: 10px;
}
/*end of form styles*/
/*custom form styles*/
.form_row.botones{
  text-align: center;
}
.second .form_row.mensaje{
  margin-bottom: 10px;
}
#contactos{
  position: relative;
}
#contactos h2{
  margin-bottom: 15px;
}
#statusMessage{
  background: #005c01;
  color: #fff;
  position: absolute;
  bottom: 5px;
  left: 0;
  padding: 5px 10px;
  width: 100%;
  border-left: 5px solid #FFA200;
  opacity: 0;
  text-align: center;
  line-height: 1.1;
}
.animMessage{
  -webkit-animation: animMessage .4s;
  -webkit-animation-fill-mode:both;
  animation: animMessage .4s;
  animation-fill-mode:both;
}
-webkit-@keyframes animMessage{
  0%{ opacity: 0; transform: translateX(-100%); }
  90%{ opacity: 1; transform: translateX(2%); }
  100% { opacity: 1; transform: translateX(0); }
}
@keyframes animMessage{
  0%{ opacity: 0; transform: translateX(-100%); }
  90%{ opacity: 1; transform: translateX(2%); }
  100% { opacity: 1; transform: translateX(0); }
}
#mapa h2{
  margin-bottom: 2px;
}
iframe{
  background: #fff;
  width: 100%;
}
/*end of custom form styles*/
/*lightbox*/
#lightbox {
  position:fixed; /* keeps the lightbox window in the current viewport */
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:url('img/overlay.png') repeat;
  text-align:center;
  z-index: 20;
}
#lightbox .imgwrap {
  box-shadow:0 0 25px #111;
  -webkit-box-shadow:0 0 25px #111;
  -moz-box-shadow:0 0 25px #111;
  width: 90%;
  max-width: 600px;
  position: relative;
  margin: 3em auto 0;
  height: 90%;
}
.mainimg{
  width: 100%;
}
.closeimg{
  background-image: url('img/close.png');
  background-size: 40px 80px;
  background-position: 0% 100%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -20px;
  right: -15px;
}
.closeimg:hover{
  background-position: 0% 0%;
}
.prevbtn, .nextbtn{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  background-position: 0% 0%;
  background-size: 30px 60px;
  background-repeat: no-repeat;
}
.prevbtn{ left: -15px; background-image: url('img/previous.png'); }
.nextbtn{ right: -15px; background-image: url('img/next.png'); }
.prevbtn:hover, .nextbtn:hover{ background-position: 0% 100%;}
.trig_wrap{
  position: relative ;
  transition: .3s;
  box-shadow: 2px 1px 3px #333; border-radius: 5px;
  overflow: hidden;
  text-align: center;
}
.trig_wrap img{
  display: block;
  box-shadow: none;
  transition: ease-in-out .3s;
}
.trig_wrap:hover{
  cursor: pointer;
}
.trig_wrap .fa{
  transition: .3s;
  font-size: 5em;
  position: absolute;
  color: rgba(255, 255, 255, .3);
  margin-top: -30px;
  margin-left: -30px;
  top: 50%;
  left: 50%;
  z-index: 2;
}
.trig_wrap:hover .fa{
  color: rgba(255, 255, 255, .8);
  text-shadow: 1px 1px 1px rgba(100, 100, 100, .8);
}
.trig_wrap:hover img{
  transform: scale(1.1);
}
/*
@media only screen and (max-width: 1300px){
  .wrap{width: 1150px;}
  .colbtn{width: 16.5%;}
  .btnspacer1{width: 34%;}
  .btnspacer2{width: 17.5%;}
  nav{font-size: .9em;}
}*/
/*
@media only screen and (max-width: 1150px){
  .innerpage{font-size: .85em;}
  .wrap{width: 960px;}
  .colbtn{width: 14.8%;}
  .btnspacer1{width: 40.8%;}
  .btnspacer2{width: 26%;}
  nav{font-size: .85em;}
  footer{font-size: 1.05em;}
  .topnav a{font-size: .8em; line-height: 2;}
}
*/

/*light-box-muestra de imagenes*/
.lb-album{
	/*margin: 30px;*/
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  list-style: none;
  padding: 0;
}
.lb-album li{
	float: left;
  width: 23%;
	margin: 10px;
	position: relative;
}
.lb-album li > a,
.lb-album li > a img{
	display: block;
  width: 100%;
}
.lb-album li > a{
  width: 100%;
	position: relative;
	padding: 10px;
	background: linear-gradient(#ffad57,#ffc476);
	-webkit-box-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(158,111,86,0.3) inset;
	-moz-box-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(158,111,86,0.3) inset;
	box-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(158,111,86,0.3) inset;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
  border-radius: 13px;
}
.lb-album li > a span{
  position: absolute;
  width: 93%;
  height: 93%;
	top: 10px;
  left: 11px;
  text-align: center;
  padding-top: 41%;
  padding-bottom: 49%;
  border-radius: 5px;
  color: rgb(255, 174, 88);
  text-shadow: -2px -2px 1px rgb(0, 0, 0);
  font-size: 26px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	background:rgba(0, 134, 216, 0.55);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, rgba(0, 134, 216, 0.55) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.56)), color-stop(100%,rgba(0, 134, 216, 0.55)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(6, 63, 122, 0.51) 0%,rgba(0, 134, 216, 0.55) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(6, 63, 122, 0.51) 0%,rgba(0, 134, 216, 0.55) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(6, 63, 122, 0.51) 0%,rgba(0, 134, 216, 0.55) 100%);
	background: radial-gradient(center, ellipse cover, rgba(6, 63, 122, 0.51) 0%,rgba(0, 134, 216, 0.55) 100%);
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}
.lb-album li > a:hover span{
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
.lb-overlay{
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
	text-align: center;
	background:rgba(0, 134, 216, 0.55);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, rgb(140, 218, 255) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.56)), color-stop(100%,rgb(140, 218, 255)));
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgb(140, 218, 255) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgb(140, 218, 255) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgb(140, 218, 255) 100%);
	background: radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgb(140, 218, 255) 100%);
}
.lb-overlay > div{
	position: relative;
	color:  rgba(0, 38, 78, 0.88);
	width: 100%;
	margin: 40px auto 0px auto;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
}
.lb-overlay div h3,
.lb-overlay div p{
	padding: 0px 20px;
	width: 200px;
	height: 60px;
}
.lb-overlay div h3{
	font-size: 36px;
	float: left;
	text-align: right;
	border-right: 1px solid rgba(27,54,81,0.4);
}
.lb-overlay div h3 span,
.lb-overlay div p{
	font-size: 16px;
	font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-style: italic;
}
.lb-overlay div h3 span{
	display: block;
	line-height: 6px;
}
.lb-overlay div p{
	font-size: 14px;
	text-align: left;
	float: left;
	width: 260px;
}
.anterior-prev{
  position: absolute;
  top: -32px;
  left: 0%;
  font-size: 25px;
}
.siguiente-next{
  position: absolute;
  top: -32px;
  right:: 15%;
  font-size: 25px;
}
.anterior-prev:hover,.siguiente-next:hover{
  color: #9e6000;
  font-weight: 700;
}
.lb-overlay a.lb-close{
  background: rgba(27,54,81,0.8);
  z-index: 1001;
  color: #fff;
  position: absolute;
  top: 43px;
  left: 50%;
  font-size: 23px;
  line-height: 26px;
  text-align: center;
  width: 100px;
  height: 29px;
  overflow: hidden;
  margin-left: -25px;
  opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}
.lb-overlay img{
	/* height: 100%; For Opera max-height does not seem to work */
	position: relative;
  height: 100%;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
	-webkit-transition: opacity 0.5s linear;
	-moz-transition: opacity 0.5s linear;
	-o-transition: opacity 0.5s linear;
	-ms-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
}
.fa fa-arrow-circle-left, .fa fa-arrow-circle-right{
	text-indent: -9000px;
	position: absolute;
	top: -32px;
	width: 24px;
	height: 25px;
	left: 50%;
	opacity: 0.8;
	filter: alpha(opacity=80); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=80)"; /*IE8*/
}
.fa fa-arrow-circle-left:hover, .fa fa-arrow-circle-right:hover{
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
.fa fa-arrow-circle-left{
	margin-left: -30px;
	background: transparent url(../images/arrows.png) no-repeat top left;
}
.fa fa-arrow-circle-right{
	margin-left: 6px;
	background: transparent url(../images/arrows.png) no-repeat top right;
}
.lb-overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
  padding: 73px 10px 0px 10px;
}
.lb-overlay:target img,
.lb-overlay:target a.lb-close{
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
/*
	100% Height for Opera as the max-height seems to be ignored, not optimal for large screens
	http://bricss.net/post/11230266445/css-hack-to-target-opera
*/
x:-o-prefocus, .lb-overlay img {
    height: 100%;
}
